header#header.header-navigation
    nav
        .logo
            a(href=getConfig("url"))!= getConfig("title")
        h2#mnavh
            span.navicon
        ul#starlist
            each m in theme.menu
                li
                   a(href=url_for(m.url)) !{m.title}
        //.searchbox
        //    #search_bar.search_bar
        //        form#searchform(action='[!--news.url--]e/search/index.php', method='post', name='searchform')
        //            input#keyboard.input(placeholder='想搜点什么呢..', type='text', name='keyboard')
        //            input(type='hidden', name='show', value='title')
        //            input(type='hidden', name='tempid', value='1')
        //            input(type='hidden', name='tbname', value='news')
        //            input(type='hidden', name='Submit', value='搜索')
        //            p.search_ico
        //                span
